<!--{template common/header}-->

<div id="pt" class="bm cl">
    <div class="z">
        <a href="./" class="nvhm">$_G[setting][bbname]</a>
        <em>&rsaquo;</em>
        <a href="plugin.php?id=discuz_to_deepseek:nav">$pluginName</a>
    </div>
</div>

<div class="bm">
    <div class="bm_h">
        <h2>$pluginName</h2>
    </div>
    <div class="bm_c">
        <p>Discuz to Deepseek 已安装。</p>
        <p>自动回帖功能会根据插件设置，在论坛帖子、群组帖子和门户文章页通过钩子触发。</p>
        <p>管理员可以在插件后台配置 DeepSeek 接口密钥和提示词。</p>
        <p>开源插件 by hahaTT。</p>
    </div>
</div>

<!--{template common/footer}-->
